@charset "utf-8";
html,body {margin:0px; padding:0px; height:100%; font:12px tahoma,arial,simsun;}
a {text-decoration:none; outline:0;}
a:hover {text-decoration: none}
ul,li {margin:0px; padding:0px;}
li {list-style: none}
img {border:none;}
table {width:100%; height:100%; BORDER-COLLAPSE:collapse;}
.up {background-color:rgb(111,214,99);}
.down {background-color:rgb(244,113,142);}
.hide {display:none;}
.summary {height:18px; line-height:18px;}
.summary span {margin-left:5px;}
.summary .bt {float:right; margin-right:16px;}
.stock_list {display:inline-block; width:100%; height:97%;}
.stock_list .page_left {width:90%; height:100%; float:left;}
.stock_list .page_right {width:10%; height:100%; 	float:left; margin-left:-12px; overflow:auto;}
.stock_block, .basic_info {width:33%; height:33%; float:left; overflow:hidden;}
.basic_info .info {width:25%; height:100%; float:left; overflow:hidden;}
.basic_info .info .extends {border-bottom:solid 1px rgb(128, 128, 128); text-align:center;}
.basic_info .info ul {margin:2px; height:100%;}
.basic_info .info ul li {width:100%; height:11%; float:left;}
.basic_info .info ul li .sname {float:left;}
.basic_info .info ul li .sdata {float:right;}
.stock_block .detail {width:100%; height:91%;}
.stock_block .detail .map {width:280px; height:96px;}
.stock_block .detail .map .limit{width:100%; height:96px; overflow:hidden;}
.stock_block .detail .map .limit img {width:100%; height:150px;}
.stock_block .detail .today_flow {width:220px; text-align:center; position:relative; vertical-align:top;}
.stock_block .detail .today_flow .extends {border-bottom:solid 1px rgb(128, 128, 128);}
.stock_block .detail .today_flow .pillar {width:42px; position:absolute; bottom:-1px;}
.stock_block .detail .today_flow .m1 {left:6px;}
.stock_block .detail .today_flow .m2 {left:54px;}
.stock_block .detail .today_flow .m3 {left:126px;}
.stock_block .detail .today_flow .m4 {left:174px;}
.stock_block .detail .today_flow .pillar .v1 {border:solid 1px black; background:#D44340;}
.stock_block .detail .today_flow .pillar .v2 {border:solid 1px black; background:#63B06B;}
.stock_block .detail .money_flow {width:60px;}
.stock_block .detail .money_flow ul {width:100%; height:92px; text-align:right;}
.stock_block .detail .money_flow ul li {width:100%; height:14%; float:left;}
.stock_block .detail .deal {}
.stock_list .page_right .table_list {width:136px; height:auto; text-align:right; margin-right:20px; line-height:22px;}
.stock_list .page_right .table_list .sname {width:50px; text-align:left;}
.stock_list .page_right .table_list .sfudu {width:35px;}
.stock_list .page_right .table_list .sbaifen {}

/*-------------------------setting-------------------------*/
.setting_table {height:auto; line-height:26px; text-align:center;}

/*-------------------------stocklist-------------------------*/
.stocklist_table {height:auto; line-height:26px; text-align:right;}
.stocklist_table th {text-align:center;}
.stocklist_table .no { width:46px; text-align:center;}
.stocklist_table .sname {width:80px; text-align:left;}