@charset "utf-8";
html,body {margin:0px; padding:0px; height:100%; font:12px tahoma,arial,simsun;}
div {width:100%;}
a {text-decoration:none; outline:0; blr:expression(this.onFocus=this.blur())}
a:hover {text-decoration: none}
.warpper {height:100%;}
.summary {height:2%; line-height:20px; background-color:#ccc;}
.summary span {margin:0 10px;}
.stock_list {height:98%; display:inline-block;}
.stock_block {width:33%; height:33%; border:solid 1px #ccc; float:left;}
.stock {width:100%; height:100%; BORDER-COLLAPSE:collapse;}
.stock_summary {height:22px; line-height:22px;}
.stock_summary span {margin:0 10px;}
.stock_detail .map {width:280px;}
.stock_detail .map .kmap {width:280px; height:140px;}
.stock_detail .deal {}
.stock_detail .other {width:36px; text-align:center;}
.stock_detail .other .bt {margin:8px 0;}